<app-navbar [displayUserNav]="true"></app-navbar>
<div class="container">
  <div class="row py-5">
    <div class="col-lg-6 card">
      <img
        class="img-fluid rounded mb-5 mb-lg-0"
        src="../../assets/support.svg"
        alt="..."
      />
    </div>
    <div class="col-lg-6">
      <div *ngIf="displayRegister">
        <div style="float: right">
          <a (click)="viewTicketClick()" class="btn btn-sm btn-outline-info">
            View Ticket Status</a
          >
        </div>
        <div class="container px-5 py-5 row justify-content-center">
          <h3 class="font-weight-bold">Having trouble with our services?</h3>
          <p class="text-center my-1">
            We strive to provide seamless and uninterrupted services, kindly
            provide us a chance to resolve it, By raising an issue, with the
            help of following form.
          </p>
        </div>
        <div class="container justify-content-center px-4">
          <form [formGroup]="supportForm" (ngSubmit)="supportFormSubmit()">
            <div class="form-floating mb-3">
              <input
                class="form-control"
                id="phone"
                type="text"
                placeholder="Explain your issue in a single line"
                formControlName="issueHeading"
              />
            </div>
            <!-- Message input-->
            <div class="form-floating mb-3">
              <textarea
                class="form-control"
                id="message"
                type="text"
                placeholder="Describe your issue with information as mentioned below
                  Date occurred:
                  Error Message Received:
                  Any Additional Information:
                  "
                style="height: 10rem"
                formControlName="issueDescription"
              ></textarea>
            </div>
            <div class="">
              <button
                class="btn btn-primary btn-lg btn-block"
                id="submitButton"
                type="submit"
                [disabled]="!supportForm.valid"
              >
                Submit
              </button>
            </div>
            <div class="py-2" *ngIf="ticketRegistered === 'SUCCESS'">
              <p class="alert alert-info">
                Ticket registered successfully, with ticket id
                {{ registeredTicket }}
              </p>
            </div>
            <div class="py-2" *ngIf="ticketRegistered === 'FAIL'">
              <p class="alert alert-info">
                Ticket registered failed, try after sometime.
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- Display Ticket Details section-->
      <div *ngIf="displayTicketDetails">
        <div style="float: right">
          <a
            (click)="displayRegisterClick()"
            class="btn btn-sm btn-outline-info"
          >
            Register New ticket</a
          >
        </div>
        <div
          class="container py-2 row"
          style="overflow-y: scroll; height: 30rem"
          *ngIf="ticketList.length > 0"
        >
          <div
            class="card"
            *ngFor="let ticket of ticketList"
            style="
              margin-top: 1rem;
              height: max-content;
              box-shadow: 5px 10px #888888;
              background-color: rgb(150, 216, 216);
            "
          >
            <div class="card-body" style="width: 31rem">
              <div class="row">
                <div class="col">
                  <h3
                    class="font-weight-bold"
                    style="
                      color: whitesmoke;
                      text-shadow: 2px 2px #0c0c0c;
                      stroke: black;
                    "
                  >
                    {{ ticket.ticketId }}
                  </h3>
                </div>
                <div class="col">
                  {{ ticket.registeredDate }}
                </div>
                <div class="col">{{ ticket.ticketStatus }}</div>
              </div>
              <div class="row">
                <div class="col">{{ ticket.issue }}</div>
              </div>
              <div class="py-2">
                <div class="lead" style="font-size: medium">
                  {{ ticket.description }}
                </div>
              </div>
              <div *ngIf="ticket.messageToUser">
                <div>Message to User:</div>
                <p class="lead" style="font-size: medium">
                  {{ ticket.messageToUser }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="ticketList.length === 0" class="py-2">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="../../assets/empty-cart.svg"
            alt="..."
          />
          <div>
            <h1 class="font-weight-bold text-center" style="text-shadow: 2px 2px #8d7cf0;">No Tickets Found</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#exampleModalCenter"
  style="visibility: hidden"
  id="launchMessage"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body px-5">
        <div class="row card">
          <img
            class="img-fluid rounded mb-5 mb-lg-0"
            src="../../assets/under-maintainance.svg"
            alt="..."
          />
        </div>
        <div class="row">
          <div class="container px-5 py-5 row justify-content-center">
            <h3 class="font-weight-bold text-center">Under construction</h3>
            <p class="text-center my-1">
              This page is added to show up-coming feature. As of now it is not
              operational fully (Only for View). We are sorry for the
              inconvenience.
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
