<div class="container" >
  <div class="jumbotron">
    <h1 class="display-4">Prime</h1>
    <p class="lead">
      a one stop solution for investment banking needs. We provide IPO support
      and trading services.
    </p>
    <hr class="my-4" />
    <p>Trading | Account Management | Wealth Management</p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Services</h5>
          <p class="card-text">
            Our business serve corporate, institutional and individual clients
            to achieve their goals
          </p>
          <a href="#" class="btn btn-primary"routerLink="/login">Existing user Login</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our mission</h5>
          <p class="card-text">
            We turn your ideas into reality by leveraging variety of talent from
            finance, engineering, science and humanities
          </p>
          <a href="#" class="btn btn-primary"routerLink="/register">Create your Account</a>
        </div>
      </div>
    </div>
  </div>
</div>
