<html>
  <body>
  
    <section id="shop">
      <div class="container">
        <div class="title">
          <h1 align="center">Financial Product</h1>
          <p align="center">Here we have a list of financial products!</p>
        </div>

        <div class="container my-5">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="card text-center">
                <img
                  src="https://tse1.mm.bing.net/th?id=OIP.cGEvtjUO8fXYL_NQ2OcheQHaEJ&pid=Api&P=0&w=321&h=181.jpg"
                  alt="wealth product">
                
                
                <div class="card-body">
                  <h4 class="card-title mb-2">Wealth Management Product</h4>
                  <p class="card-text mb-2">
                    At Prime Wealth Management, we will be focusing on your
                    success and remaining committed to helping you grow your
                    wealth and pursue your financial goals.To know more about
                    the prodcut click the button below.
                  </p>
                </div>
                <a href="./wealth/wealth.component.html" class="btn btn-primary" >View Products</a>
              </div>
            </div>

            <div class="col">
              <div class="card text-center">
                <img
                  src="https://tse1.mm.bing.net/th?id=OIP.Sn2_fNpqDZtwcPeloZdZ1QHaEy&pid=Api&P=0&w=257&h=167.jpg"
                  alt="income product"
                  class="car-img-top">
                
                <div class="card-body">
                  <h4 class="card-title mb-2">Income Products</h4>
                  <p class="card-text mb-2">
                    At Prime Income Product, we will be focusing on your finance
                    value which will gives you a value to your finance.To know
                    more about the prodcut click the button below.
                  </p>
                </div>
                <a href="wealth/wealth.component.html" class="btn btn-primary">View Products</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
