<app-navbar [displayUserNav]="true"></app-navbar>
<body class="d-flex flex-column">
  <main class="flex-shrink-0">
    <!-- Header-->
    <header class="py-5">
      <div class="container px-5">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xxl-6">
            <div class="text-center my-5">
              <h1 class="font-weight-bolder mb-3">
                Our aim in building this websites is to learn Angular.
              </h1>
              <p class="lead fw-normal text-muted mb-4">
                As we started building this app, we taught it would be better to
                learn a bit of domain knowledge, hence we opted to built an
                investment banking app, we specifically targeted on learning
                stocks, wealth management and how companies raise capital from
                public.
              </p>
              <a
                class="btn btn-primary btn-lg"
                href="#story
                            "
                >Read our story</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="Story">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <img
              class="img-fluid rounded mb-5 mb-lg-0"
              src="../../assets/about-min.jpg"
              alt="..."
            />
          </div>
          <div class="col-lg-6">
            <h2 class="font-weight-bolder">Our Thought process</h2>
            <p class="lead fw-normal text-muted mb-0">
              We followed agile methodology for development lifecycle. We had a
              brain storming session and pooled and discussed our ideas. Came up
              with finance web app. We still maintain our ideas in Trello.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6 order-first order-lg-last">
            <img
              class="img-fluid rounded mb-5 mb-lg-0"
              src="../../assets/about_02-min.jpg"
              alt="..."
            />
          </div>
          <div class="col-lg-6">
            <h2 class="font-weight-bolder">Application &amp; beyond</h2>
            <p class="lead fw-normal text-muted mb-0">
              We used many tools like GitHub for version control. Slack for team
              collaboration, Trello for task tracking. Firebase, Heroku for app
              hosting. GitHub actions for orchestration. We also made use of
              Drovio and Google meet for team collaboration, knowledge sharing
              sessions.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Team members section-->
    <section class="py-5 bg-light">
      <div class="container px-5 my-5">
        <div class="text-center">
          <h2 class="font-weight-bolder">Our team</h2>
          <p class="lead fw-normal text-muted mb-5">
            Dedicated to quality and your success
          </p>
        </div>
        <div
          class="
            row
            gx-5
            row-cols-1 row-cols-sm-2 row-cols-xl-4
            justify-content-center
          "
        >
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Angeleena</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Deepika</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Karthika</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <h5 class="font-weight-bolder">Swatha</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
        </div>
        <div
          class="
            row
            gx-5
            row-cols-1 row-cols-sm-2 row-cols-xl-4
            justify-content-center
          "
        >
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Charumathi</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Kinnera</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5 mb-5 mb-sm-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Marie</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="text-center">
              <h5 class="font-weight-bolder">Yogeswari</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
        </div>
        <div
          class="
            row
            gx-5
            row-cols-1 row-cols-sm-2 row-cols-xl-4
            justify-content-center
          "
        >
          <div class="col mb-5 mb-5 mb-xl-0">
            <div class="text-center">
              <h5 class="font-weight-bolder">Anila</h5>
              <div class="fst-italic text-muted">Developer</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer-->
  <app-footer></app-footer>
</body>
