<div class="container">
  <div class="row">
    <div class="container card" style="border-color: white">
      <div class="d-flex container-fluid">
        <img
          class="card-img opacity-4"
          src="./../../assets/buynsell-images/bg-sell.jpg"
          style="width: 68em; margin-left: 0px; padding-left: 0px"
        />
        <div class="card-img-overlay">
          <div class="d-flex justify-content-center" style="margin-top: 9em">
            <form
              [formGroup]="sellForm"
              style="width: 40%; text-align: left"
              (ngSubmit)="onSellOrderSubmit()"
            >
              <div class="form-group">
                <label for="stocks"></label>
                <select
                  name="stocks"
                  id="stocks"
                  formControlName="stocks"
                  [class.is-invalid]="
                    this.sellForm.get('stocks').invalid &&
                    this.sellForm.get('stocks').touched
                  "
                  class="custom-select"
                >
                  <option value="select-stock" disabled>Select Stock</option>
                  <option *ngFor="let stock of stockList">
                    {{ stock.productID }}.{{ stock.productName }} - ${{
                      stock.marketPrice
                    }}
                  </option>
                </select>
                <small
                  [class.d-none]="
                    this.sellForm.get('stocks').valid ||
                    this.sellForm.get('stocks').untouched
                  "
                  class="text-danger"
                >
                  Please select a stock
                </small>
              </div>
              <div class="form-group row">
                <label for="quantity" class="col-sm-4 col-form-label">
                  <Strong style="color: white; font-size: 20px"
                    >Quantity:</Strong
                  >
                </label>
                <div class="col-sm-8">
                  <input
                    type="number"
                    id="quantity"
                    pattern="^[1-9]+[0-9]*$"
                    formControlName="quantity"
                    [class.is-invalid]="
                      this.sellForm.get('quantity').invalid &&
                      this.sellForm.get('quantity').touched
                    "
                    class="form-control"
                  />
                  <small
                    [class.d-none]="
                      this.sellForm.get('quantity').valid ||
                      this.sellForm.get('quantity').untouched
                    "
                    class="text-danger"
                  >
                    Quantity is required
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="orderType" class="col-sm-4 col-form-label">
                  <Strong style="color: white; font-size: 20px"
                    >Order Type:</Strong
                  >
                </label>
                <div class="col-sm-8">
                  <select
                    name="order"
                    id="orderType"
                    (change)="onOrderTypeChange()"
                    formControlName="orderType"
                    [class.is-invalid]="
                      this.sellForm.get('orderType').invalid &&
                      this.sellForm.get('orderType').touched
                    "
                    class="custom-select"
                  >
                    <option value="select" disabled>Select Order Type</option>
                    <option value="market">Market Order</option>
                    <option value="limit" #limit>Limit Order</option>
                  </select>
                  <small
                    [class.d-none]="
                      this.sellForm.get('orderType').valid ||
                      this.sellForm.get('orderType').untouched
                    "
                    class="text-danger"
                  >
                    Please select any order type
                  </small>
                </div>
              </div>
              <div class="form-group row" *ngIf="displayPriceForLimitOrder">
                <label for="price" class="col-sm-4 col-form-label">
                  <Strong style="color: white; font-size: 20px"
                    >Price:</Strong
                  >
                </label>
                <div class="col-sm-8">
                  <input
                    type="number"
                    id="price"
                    pattern="^[1-9]+[0-9]+[0-9]*$"
                    formControlName="price"
                    (keyup)="onPriceChange()"
                    [class.is-invalid]="
                      this.sellForm.get('price').invalid &&
                      this.sellForm.get('price').touched
                    "
                    class="form-control"
                  />
                  <small
                    [class.d-none]="
                      this.sellForm.get('price').valid ||
                      this.sellForm.get('price').untouched
                    "
                    class="text-danger"
                  >
                    Price is required
                  </small>
                </div>
              </div>
              <small
                class="alert alert-danger row"
                role="alert"
                *ngIf="priceErrorBanner"
              >
                Price is mandatory for Limit Order
              </small>

              <div class="row d-flex justify-content-center">
                <div class="col-4 d-grid text-center">
                  <button
                    type="submit"
                    class="btn btn-danger"
                    [disabled]="!sellForm.valid"
                    style="width: 9rem"
                    data-toggle="modal"
                    data-target="#sellOrderSuccess"
                  >
                    SELL
                  </button>
                </div>
                <div class="col-4 d-grid text-center">
                  <a
                    type="button"
                    class="btn btn-success"
                    style="width: 9rem"
                    (click)="scrollToPortfolio()"
                  >
                    Portfolio
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="sellOrderSuccess"
      tabindex="-1"
      role="dialog"
      aria-labelledby="sellOrderSuccessLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sellOrderSuccessLabel">
              <div
                *ngIf="
                  !successBanner && !systemUnavailable && !stockUnavailable
                "
              >
                <Strong>It may take some time</Strong>
              </div>
              <Strong
                *ngIf="successBanner && !stockUnavailable"
                style="color: green"
              >
                Success!!
              </Strong>
              <Strong
                *ngIf="systemUnavailable && !stockUnavailable && !successBanner"
                style="color: red"
              >
                Error!!
              </Strong>
              <Strong
                *ngIf="stockUnavailable && !successBanner"
                style="color: red"
              >
                Stock Unavailable!!
              </Strong>
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div
              class="d-flex justify-content-center"
              *ngIf="!successBanner && !systemUnavailable && !stockUnavailable"
            >
              <img src="./../../assets/loader.gif" />
            </div>
            <Strong
              *ngIf="successBanner && !stockUnavailable"
              >Product Sale Initiated Successfully</Strong
            >
            <Strong
              *ngIf="systemUnavailable && !stockUnavailable && !successBanner"
              >System Unavailable try again later</Strong
            >
            <Strong *ngIf="stockUnavailable"> {{ responseMessage }}</Strong>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              routerLink="/buysell"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for stockUnavailable -->
    <div
      class="modal fade"
      id="stockUnavailable"
      tabindex="-1"
      role="dialog"
      aria-labelledby="stockUnavailableLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="stockUnavailableLabel">OOPS!!</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Current Stock is not owned by you</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-dismiss="modal"
              routerLink="/sell"
            >
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
