<div class="container">
  <div
    class="d-flex justify-content-center"
    style="margin-top: 5%; margin-bottom: 20%"
  >
    <form
      [formGroup]="sellForm"
      style="width: 40%; text-align: left"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="stocks"></label>
        <select
          name="stocks"
          id="stocks"
          formControlName="stocks"
          [class.is-invalid]="getStocks.invalid && getStocks.touched"
          class="custom-select"
        >
          <option value="select-stock" disabled>Select Stock</option>
          <option *ngFor="let stock of selectStocks">
            {{ stock.ticker }}. {{ stock.name }} - ${{ stock.price }}
          </option>
        </select>
        <small
          [class.d-none]="getStocks.valid || getStocks.untouched"
          class="text-danger"
        >
          Please select a stock
        </small>
      </div>
      <div class="form-group row">
        <label for="quantity" class="col-sm-4 col-form-label"> Quantity </label>
        <div class="col-sm-8">
          <input
            type="number"
            id="quantity"
            pattern="^[1-9]+[0-9]*$"
            formControlName="quantity"
            [class.is-invalid]="getQuantity.invalid && getQuantity.touched"
            class="form-control"
          />
          <small
            [class.d-none]="getQuantity.valid || getQuantity.untouched"
            class="text-danger"
          >
            Quantity is required
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label for="orderType" class="col-sm-4 col-form-label">
          Order Type
        </label>
        <div class="col-sm-8">
          <select
            name="order"
            id="orderType"
            (change)="onOrderTypeChange()"
            formControlName="orderType"
            [class.is-invalid]="getOrderType.invalid && getOrderType.touched"
            class="custom-select"
          >
            <option value="select" disabled>Select Order Type</option>
            <option value="market">Market Order</option>
            <option value="limit" #limit>Limit Order</option>
          </select>
          <small
            [class.d-none]="getOrderType.valid || getOrderType.untouched"
            class="text-danger"
          >
            Please select any order type
          </small>
        </div>
      </div>
      <div class="form-group row" *ngIf="enableSellPrice">
        <label for="price" class="col-sm-4 col-form-label"> Price </label>
        <div class="col-sm-8">
          <input
            type="number"
            id="price"
            pattern="^[1-9]+[0-9]+[0-9]*$"
            formControlName="price"
            (keyup)="onPriceChange()"
            [class.is-invalid]="getPrice.invalid && getPrice.touched"
            class="form-control"
          />
          <small
            [class.d-none]="getPrice.valid || getPrice.untouched"
            class="text-danger"
          >
            Price is required
          </small>
        </div>
      </div>
      <small 
        class="alert alert-danger row" 
        role="alert" 
        *ngIf="priceErrorBanner"
      >
        Price is mandatory for Limit Order
      </small>
      
      <div 
        class="alert alert-danger" 
        role="alert" 
        *ngIf="systemUnavailable"
      >
        System Unavailable try again later
      </div>

      <div class="d-flex justify-content-center">
        <button 
          type="submit" 
          class="btn btn-success" 
          [disabled]= "!sellForm.valid" 
          style="width: 9rem"
        >
          SELL
        </button>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-end">
    <button 
      routerLink="/buysell" 
      type="button" 
      class="btn btn-outline-dark"
    >
      Go back
    </button>
  </div>
</div>
<router-outlet></router-outlet>
