<div class="container">
  <div *ngIf="!displayUserNav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
      <div class="container"><a class="navbar-brand">Prime</a>
          <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                  class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
          <div id="my-nav" class="collapse navbar-collapse">
              
          </div>
      </div>
  </nav>
  </div>

  <div *ngIf="displayUserNav">
    <div
      class="
        d-flex
        flex-column flex-md-row
        align-items-center
        p-3
        px-md-4
        mb-3
        bg-white
        border-bottom
        shadow-sm
      "
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">Prime</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/ipo">IPO</a>
        <a class="p-2 text-dark" routerLink="/buysell">Stock Trading</a>
        <a class="p-2 text-dark" routerLink="/shop">Financial Products</a>
        <a class="p-2 text-dark" routerLink="/mutual fund">Mutual Fund</a>
      </nav>
      <a class="btn btn-outline-primary" routerLink="/home">Home &raquo;</a>
    </div>
    <div class="navbar navbar-light bg-light" style="margin-bottom: 0.5em">
      <a class="" routerLink="/dashboard"
        ><img
          src="https://raw.githubusercontent.com/Dhruvaraju/Open-Log/master/src/assets/user.svg"
          alt="User: "
        />
        {{username}}
      </a>
      <div class="form-inline">
        <a class="btn btn-outline-info btn-sm" (click)="handleLogOut()">Logout</a>
      </div>
    </div>
  </div>
</div>
