<div class="container">
  <div *ngIf="!displayUserNav">
    <div
      class="
        d-flex
        flex-column flex-md-row
        align-items-center
        p-3
        px-md-4
        mb-3
        bg-white
        border-bottom
        shadow-sm
      "
    >
      <h5 class="my-0 mr-md-auto font-weight-bold">Prime</h5>
    </div>
  </div>

  <div *ngIf="displayUserNav">
    <div
      class="
        d-flex
        flex-column flex-md-row
        align-items-center
        p-3
        px-md-4
        mb-3
        bg-white
        border-bottom
        shadow-sm
      "
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">Prime</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" routerLink="/ipo">IPO</a>
        <a class="p-2 text-dark" routerLink="/buysell">Stock Trading</a>
        <a class="p-2 text-dark" routerLink="/shop">Financial Products</a>
      </nav>
      <a class="btn btn-outline-primary" routerLink="/home">Home &raquo;</a>
    </div>
    <div class="navbar navbar-light bg-light" style="margin-bottom: 0.5em">
      <a class="" routerLink="/dashboard"
        ><img
          src="https://raw.githubusercontent.com/Dhruvaraju/Open-Log/master/src/assets/user.svg"
          alt="User: "
        />
        UserName
      </a>
      <div class="form-inline">
        <a class="btn btn-outline-info btn-sm">Logout</a>
      </div>
    </div>
  </div>
</div>
