<div *ngIf="!displayUserNav">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light bg-transparent"
    id="gtco-main-nav"
  >
    <div class="container">
      <a class="navbar-brand">Prime</a>
      <button
        class="navbar-toggler"
        data-target="#my-nav"
        onclick="myFunction(this)"
        data-toggle="collapse"
      >
        <span class="bar1"></span> <span class="bar2"></span>
        <span class="bar3"></span>
      </button>
      <div id="my-nav" class="collapse navbar-collapse"></div>
    </div>
  </nav>
</div>

<div *ngIf="displayUserNav">
  <body class="">
    <main class="">
      <nav class="navbar navbar-expand-lg navbar-dark dark-bg-custom">
        <div class="container px-5">
          <a class="navbar-brand font-weight-bold">Prime</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="" id="navbarNavAltMarkup" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/buysell">Stocks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/shop">Wealth</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/mutual fund">Mutual Fund</a>
              </li>
              <li class="nav-item" *ngIf="userType == 'Institution'">
                <a class="nav-link" routerLink="/ipo">IPO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
              </li>              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile Options
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/support">Get Support</a>
                  <a class="dropdown-item" routerLink="/dashboard" (click)="handleLogOut()">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
  </body>
</div>
