<app-navbar [displayUserNav]="true"></app-navbar>
<div class="container" #portfolio>
  <div class="row justify-content-center">
    <marquee behavior="scroll" direction="left" width="75%" loop="10">
      <div class="holder">
        <div class="text-container">
          <p>
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            PWS reports 15% YoY Rise in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            R&L Reports 108% YoY Jump in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            Zerox to Raise Rs.8250 crores via IPO &nbsp;&nbsp;
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            QMR Paints Reports 2x Jump in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            Power Solar Secures Contrat from NHPC &nbsp;&nbsp;
            <img
              src="./../../assets/buynsell-images/icon.jpg"
              style="height: 2em; width: 2em"
            />
            SYF Reports 80% YoY Rise in Net Profit in Q4 &nbsp;&nbsp;
          </p>
        </div>
      </div>
    </marquee>
  </div>
  <div class="row">
    <div class="container card" style="border-color: white">
      <div class="container-fluid">
        <div class="d-flex">
          <img
            class="card-img opacity-3"
            src="./../../assets/buynsell-images/bg-buynsell.jpg"
            style="width: 68.5em; margin-left: 0px; padding-left: 0px"
          />
        </div>
      </div>
      <div class="card-img-overlay">
        <div class="d-flex justify-content-end">
          <div
            class="card"
            style="margin-top: 6.5em; width: 28em; border-color: white"
          >
            <h3 class="card-header font-weight-bold">Portfolio</h3>
            <div class="card-body" id="fetchBuynSellPortfolio">
              <div *ngIf="!stockList?.length">
                <img
                  class="card-img"
                  src="./../../assets/buynsell-images/buy-stock.jpg"
                  style="width: 20em; height: 17.5em"
                />
              </div>
              <div
                class="col-md-14 stretch-card"
                style="height: 18em; overflow-y: scroll"
                *ngIf="stockList?.length"
              >
                <table
                  class="
                    table table-striped table-borderless
                    count-Table
                    table-grey table-responsive
                  "
                  *ngIf="stockList?.length"
                >
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Stock Name</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">LTP</th>
                      <th scope="col">Holding</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let stock of stockList">
                      <td>{{ stock.productName }}</td>
                      <td>{{ stock.quantity }}</td>
                      <td>${{ stock.buyPrice }}</td>
                      <td>${{ stock.quantity * stock.buyPrice }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-center" style="margin-top: 0.6em;">
                <div class="row">
                  <div class="col-6 d-grid text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-block"
                      style="width: 9rem"
                      routerLink="/buy"
                    >
                      Buy Stocks
                    </button>
                  </div>
                  <div class="col-6 d-grid text-center">
                    <button
                      type="button"
                      class="btn btn-danger btn-block"
                      style="width: 9rem"
                      *ngIf="stockList?.length"
                      routerLink="/sell"
                    >
                      Sell Stocks
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div #targets>
    <app-buy
      *ngIf="displayBuy"
      (returnEvent)="retriggerService($event)"
      (returnToPortfolio)="scrollUp(portfolio)"
    ></app-buy>
  </div>
  <div #sellBlock>
    <app-sell
      *ngIf="displaySell"
      (returnEvent)="retriggerService($event)"
      (returnToPortfolio)="scrollUp(portfolio)"
    ></app-sell>
  </div> -->
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
