<app-navbar [displayUserNav]="true"></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <marquee behavior="scroll" direction="left" width="75%" loop="10">
      <div class="holder">
        <div class="text-container">
          <p>
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            TCS reports 15% YoY Rise in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            RIL Reports 108% YoY Jump in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            Zomato to Raise Rs.8250 crores via IPO &nbsp;&nbsp;
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            Berger Paints Reports 2x Jump in Net Profit in Q4 &nbsp;&nbsp;
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            TATA Power Solar Secures Contrat from NHPC &nbsp;&nbsp;
            <img
              src="./../../assets/icon.jpg"
              style="height: 2em; width: 2em"
            />
            SBI Reports 80% YoY Rise in Net Profit in Q4 &nbsp;&nbsp;
          </p>
        </div>
      </div>
    </marquee>
  </div>
  <div>
    <a class="btn btn-light" (click)="home()">
      Home
    </a>
    <a class="btn btn-light" (click)="viewTable()">
      Portfolio
    </a>
  </div>
  <div class="row justify-content-center">
    <div class="col" *ngIf="displayHome">
      <div class="d-flex" style="margin-top: 0.5em;">
        <img src="./../../assets/buysell.jpeg" width="100%" />
      </div>
    </div>
    <div  *ngIf="onClickButton">
      <div class="card">
        <h3 class="card-header">Portfolio</h3>
        <div class="card-body"> 
          <p *ngIf="!stockList?.length">
            Your Portfolio is empty, Please buy any stock
          </p>
          <table class="table table-hover count-Table table-responsive" *ngIf="stockList?.length">
            <thead class="table-primary">
              <tr>
                <th scope="col">Stock Name</th>
                <th scope="col">Net Qty</th>
                <th scope="col">LTP</th>
                <th scope="col">Current Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of stockList">
                <td>{{ stock.productName }}</td>
                <td>{{ stock.quantity }}</td>
                <td>${{ stock.buyPrice }}</td>
                <td>${{ stock.quantity * stock.buyPrice }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center"
    style="margin-top: 2em; margin-bottom: 10%"
  >
    <div class="row">
      <div class="col-6 d-grid text-center">
        <button
          routerLink="/buy"
          type="button"
          class="btn btn-primary btn-lg btn-block"
          style="width: 9rem"
        >
          Buy
        </button>
      </div>
      <div class="col-6 d-grid text-center">
        <button
          routerLink="/sell"
          type="button"
          class="btn btn-success btn-lg btn-block"
          style="width: 9rem"
        >
          Sell
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
