<!--income card-->
<app-navbar [displayUserNav]="true"></app-navbar>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card text-center" style="width: 50rem">
        <img
          src="https://www.hiltonheadmonthly.com/images/0215_July/Fixed-income.jpg"
          alt="wealth product"
          class="card-img-top"
        />
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <h4 class="card-header bg-primary mb-2">Income Product</h4>
          <span class="badge badge-danger">Income Plus</span>
          <p class="card-text mb-2">
            At Prime Income Product, For future income needs we perform a
            financial analysis and suggest best suited plan which not cause any
            financial stress . Live free with our Income range of products
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-fluid">
    <form [formGroup]="incomeForm">
      <div class="form-group">
        <label for="name"><strong>Product Name :</strong></label>
        <select name="name" class="custom-select" formControlName="name">
          <option value="" default selected>Select Product</option>
          <option>Income Plus</option>
        </select>
      </div>

      <div
        *ngIf="incomeForm.get('name').invalid && incomeForm.get('name').touched"
        class="alert alert-danger"
      >
        <small>Please Select a Product</small>
      </div>

      <h6>
        <span class="badge badge-pill badge-danger mb-2">Monthly</span>
        <span class="badge badge-pill badge-primary my-2">Quaterly</span>
        <span class="badge badge-pill badge-success my-2">Yearly</span>
      </h6>

      <p><strong>Product Type :</strong> Income Product</p>
      <p><strong>Maturity Vakue :</strong> 20000</p>

      <div class="text-center">
        <button
          class="btn btn-primary btn-lg"
          [disabled]="incomeForm.invalid"
          type="submit"
        >
          Buy
        </button>
      </div>

      <div class="d-flex justify-content-end">
        <button routerLink="/shop" type="button" class="btn btn-outline-dark">
          Go back
        </button>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
