<div class="container">
   <div class="justify-content-center">
      <div class="jumbotron">
      <form [formGroup]="RegistrationForm" >
            <h2 class="text-center font-bold">IPO REGISTRATION</h2><hr>
            <div class="form-group">
                  <label for="cpyname" class="font-weight-bold ">Company Name:</label><br>
                        <input 
                              type="text" id="cpyname" name="cpyname" 
                              placeholder="eg: Prime Trade Company" class="form-control" 
                              formControlName="cpyname">
                        <div *ngIf="RegistrationForm.get('cpyname').invalid 
                                    && (RegistrationForm.get('cpyname').dirty || RegistrationForm.get('cpyname').touched)"
                                    class="alert alert-danger">
                        <div *ngIf="RegistrationForm.get('cpyname').errors.required">
                              <small>       Please fill this field</small>
                              </div>
                              <div *ngIf="RegistrationForm.get('cpyname').errors.minlength">
                                    <small>     Minimum 2 characters required</small>
                              </div>
                              </div><br>
            </div>
            <div class="form-group">
                  <label for="mvalue" class="font-weight-bold">Total Market Value:</label><br>
                         <input 
                              type="number" 
                              id="mvalue"
                              name="mvalue" 
                              placeholder="Value" 
                              class="form-control" 
                              formControlName="mvalue"/>
                        <div *ngIf="RegistrationForm.get('mvalue').invalid
                               && (RegistrationForm.get('mvalue').dirty || RegistrationForm.get('mvalue').touched)"
                              class="alert alert-danger">
                        <div *ngIf="RegistrationForm.get('mvalue').errors.required">
                            <small>   Please fill this field</small>
                         </div>
                         </div><br>
            </div>
            <div class="form-group">
                  <label for="per" 
                  class="font-weight-bold">Percentage market cap available for issue:</label><br>
                        <div *ngIf="RegistrationForm.get('per').invalid &&
                         (RegistrationForm.get('per').dirty || RegistrationForm.get('per').touched)"
                              class="alert alert-danger">
                        <div *ngIf="RegistrationForm.get('per').errors.required">
                              <small>   Please fill this field</small>
                        </div>
                        </div>
                        <select
                         class="form-control" 
                        id="per"  
                        formControlName="per">
                              <option value=" 0% " >0% </option>
                              <option value=" 5% " >5% </option>
                              <option value=" 10% ">10%</option>
                              <option value=" 15% ">15%</option>
                              <option value=" 20% ">20%</option>
                              <option value=" 25% ">25%</option>
                              <option value=" 30% ">30%</option>
                              <option value=" 35% ">35%</option>
                              <option value=" 40% ">40%</option>
                              <option value=" 45% ">45%</option>
                              <option value=" 49% ">49%</option>
                              </select><br><br>
            </div>
            <div class="form-group">
                  <button
                    type="button"
                    class="btn btn-primary"
                    [disabled]="!RegistrationForm.valid"
                    (click)="onSubmit()"
                    >Submit
                  </button> 
                  <br>
                  <p>{{state}}</p>
            </div>
      </form>  
  </div>
</div>
</div>
