
h2
{
    color:blueviolet;
}
label,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }
.demo
{

  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: scroll;
}