.container
{
   
line-height: 200%;
font-size: large;
display: flex;
justify-content: center;
}
h2
{
    color:slateblue;
}
label,h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p
{
    color: green;
}