<div class="container text-center" *ngIf="pageLoader">
  <img src="./../../assets/loader.gif" />
</div>

<div *ngIf="!pageLoader">
  <app-navbar [displayUserNav]="true"></app-navbar>
  <div class="container content-wrapper" style="background-color: #f5f7ff">
    <!-- Welcome and Date Start -->
    <div class="row" style="padding: 1em">
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome {{ userName }}</h3>
            <h6 class="font-weight-normal mb-0">Your investments Dashboard</h6>
          </div>
          <div class="col-12 col-xl-4">
            <div class="justify-content-end d-flex">
              <div class="">
                User From:
                {{ userFrom | date: "mediumDate" }}
              </div>
            </div>
            <div class="justify-content-end d-flex">
              <div class="">
                Last Login Date:
                {{ lastLoginDate | date: "mediumDate" }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Welcome and Date Start -->
    <!-- First row birds eye view start-->
    <div class="row" style="padding: 1em">
      <div class="col-md-6 grid-margin transparent">
        <div class="row">
          <div class="col-md-6 mb-1 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4 font-weight-bold">Stocks</p>
                <p class="fs-30 mb-2">$ {{ totalStockPrice }}</p>
                <p>{{ stockPercent | number: "1.0-2" }}%</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-1 stretch-card transparent">
            <div class="card card-dark-blue">
              <div class="card-body">
                <p class="mb-4 font-weight-bold">Financial Products</p>
                <p class="fs-30 mb-2">$ {{ totalFpPrice }}</p>
                <p>{{ financialProductPercent | number: "1.0-2" }}%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin transparent">
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
              <div class="card-body">
                <p class="mb-4 font-weight-bold">Mutual Funds Invested</p>
                <p class="fs-30 mb-2">{{ mutualFundsInvestedIn }}</p>
                <p>Maturity: $ {{ totalMutualFundInvestedAmount }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 stretch-card transparent">
            <div class="card card-light-danger">
              <div class="card-body">
                <p class="mb-4 font-weight-bold">IPO</p>
                <p class="fs-30 mb-2">{{ openIpos }}</p>
                <p>Open for Investment</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First row birds eye view end-->
    <!--Stocks List Start-->
    <div class="row" style="padding-bottom: 2em">
      <div
        class="col-md-6 stretch-card"
        style="height: 19em; overflow-y: scroll"
      >
        <div class="card">
          <div class="card-body" *ngIf="stockList != ''">
            <p class="card-title mb-0 font-weight-bold">Stocks</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Holding</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock of stockList">
                    <td>{{ stock.productName }}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>${{ stock.marketPrice }}</td>
                    <td>
                      <div class="badge badge-success">
                        ${{ stock.quantity * stock.marketPrice }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-body" *ngIf="stockList == ''">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <img
                    class="img-fluid rounded-3 my-4"
                    style="width: 12em"
                    src="./../../assets/empty.jpg"
                    alt="..."
                  />
                </div>
              </div>
              <div class="col-md-6 my-4 text-center">
                <div class="my-5 text-center text-xl-start">
                  <p class="lead fw-normal mb-4">Didn't buy any stocks yet?</p>
                  <div class="justify-content-sm-center">
                    <a
                      class="btn btn-primary btn-md px-4 me-sm-3"
                      routerLink="/buysell"
                      >Buy Stocks</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-card">
        <div class="card">
          <div class="card-body" *ngIf="financialProductList != ''">
            <p class="card-title mb-0 font-weight-bold">Financial Products</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Maturity Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of financialProductList">
                    <td>{{ product.productName }}</td>
                    <td>{{ product.subcategory }}</td>
                    <td>
                      <div class="badge badge-success">
                        ${{ product.marketPrice }}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-body" *ngIf="financialProductList == ''">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center">
                  <img
                    class="img-fluid rounded-3 my-4"
                    style="width: 12em"
                    src="./../../assets/empty-fp.jpg"
                    alt="..."
                  />
                </div>
              </div>
              <div class="col-md-6 my-4 text-center">
                <div class="my-5 text-center text-xl-start">
                  <p class="lead fw-normal mb-3">
                    Didn't buy any Financial products yet?
                  </p>
                  <div class="justify-content-sm-center">
                    <a
                      class="btn btn-primary btn-md px-4 me-sm-3"
                      routerLink="/shop"
                      >Invest Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Stocks list end-->
  </div>

  <app-footer></app-footer>
</div>
