<div class="container">
    <div class="row justify-content-center">
      <marquee behavior="scroll" direction="left" width="65%" loop="10" >
        <div class="holder">
          <div class="text-container">
            <p>
              <img src="./../../assets/ipo-images/des.png" style="height: 2%; width: 2%;">  TCS reports 15% YoY Rise in Net Profit in Q4 &nbsp;&nbsp;
              <img src="./../../assets/ipo-images/ipoclose.png" style="height: 2%; width: 2%;">  RIL Reports 108% YoY Jump in Net Profit in Q4 &nbsp;&nbsp;
              <img src="./../../assets/ipo-images/ipoopen.png" style="height: 2%; width: 2%;">  Zomato to Raise Rs.8250 crores via IPO &nbsp;&nbsp;
              <img src="./../../assets/ipo-images/iposize.png" style="height: 2%; width: 2%;">  Berger Paints Reports 2x Jump in Net Profit in Q4 &nbsp;&nbsp; 
              <img src="./../../assets/ipo-images/ipoprice.png" style="height: 2%; width: 2%;">  TATA Power Solar Secures Contrat from NHPC &nbsp;&nbsp;
              </p>
          </div>
        </div>
       </marquee>
    </div>
    <div class="d-flex justify-content-center">
      <img src="./../../assets/ipo-images/des.png" width="100%">
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 2%; margin-bottom: 10%;">
      <div class="row">
        <div class="col-6 d-grid text-center">
          <button routerLink = ""
          type="button" 
          class="btn btn-primary btn-lg btn-block"
          style="width: 9rem;"
          >Buy</button>
        </div>
        <div class="col-6 d-grid text-center">
          <button routerLink = ""
          type="button" 
          class="btn btn-success btn-lg btn-block"
          style="width: 9rem;"
          >Sell</button>
        </div>
        <div class="productBeneftis">
            <div class="col-sm-3">
            <div class="panel text-center panel-blue">
            <div class="panel-body iconTheme01">
            <span class="icon">
            
            <br />
            <a href="javascript:void(0)" class="heading">ISSUE PRICE</a>
            <div class="content">Rs 99 - Rs 100 Per Equity Share.</div>
            </div>
            </div>
            </div>
            </div>
      </div>
    </div>
    <router-outlet></router-outlet>