<div class="container">
  <div
    class="container card"
    style="align-content: flex-end; border-color: white"
  >
    <div class="container-fluid" style="margin-top: 1em">
      <div class="row">
        <img
          class="card-img"
          src="./../../assets/buynsell-images/bg-buy.jpg"
          style="width: 68em"
        />

        <div class="card-img-overlay">
          <div class="d-flex justify-content-center" style="margin-top: 15em">
            <form
              [formGroup]="buyForm"
              id="buyComponentFormTage"
              style="text-align: left; width: 40%"
              (ngSubmit)="onBuyFormSubmit()"
            >
              <div class="form-group">
                <label for="stocks">Stock:</label>
                <select
                  name="stocks"
                  id="stocks"
                  formControlName="stocks"
                  [class.is-invalid]="
                    this.buyForm.get('stocks').invalid &&
                    this.buyForm.get('stocks').touched
                  "
                  class="custom-select"
                >
                  <option value="select-stock" disabled></option>
                  <option *ngFor="let stock of selectStocks">
                    {{ stock.ticker }}.{{ stock.name }} - ${{ stock.price }}
                  </option>
                </select>
                <small
                  [class.d-none]="
                    this.buyForm.get('stocks').valid ||
                    this.buyForm.get('stocks').untouched
                  "
                  class="text-danger"
                >
                  Please select a stock
                </small>
              </div>
              <div class="form-group row">
                <label for="quantity" class="col-sm-4 col-form-label">
                  Quantity
                </label>
                <div class="col-sm-8">
                  <input
                    type="number"
                    id="quantity"
                    pattern="^[1-9]+[0-9]*$"
                    formControlName="quantity"
                    [class.is-invalid]="
                      this.buyForm.get('quantity').invalid &&
                      this.buyForm.get('quantity').touched
                    "
                    class="form-control"
                  />
                  <small
                    [class.d-none]="
                      this.buyForm.get('quantity').valid ||
                      this.buyForm.get('quantity').untouched
                    "
                    class="text-danger"
                  >
                    Quantity is required
                  </small>
                </div>
              </div>
              <div class="form-group row">
                <label for="orderType" class="col-sm-4 col-form-label">
                  Order Type
                </label>
                <div class="col-sm-8">
                  <select
                    name="order"
                    id="orderType"
                    formControlName="orderType"
                    (change)="onOrderTypeChange()"
                    [class.is-invalid]="
                      this.buyForm.get('orderType').invalid &&
                      this.buyForm.get('orderType').touched
                    "
                    class="custom-select"
                  >
                    <option value="Select" disabled>Select Order Type</option>
                    <option value="market">Market Order</option>
                    <option value="limit" #limit>Limit Order</option>
                  </select>
                  <small
                    [class.d-none]="
                      this.buyForm.get('orderType').valid ||
                      this.buyForm.get('orderType').untouched
                    "
                    class="text-danger"
                  >
                    Please select any order type
                  </small>
                </div>
              </div>
              <div class="form-group row" *ngIf="displayPriceForLimitOrder">
                <label for="price" class="col-sm-4 col-form-label">
                  Price
                </label>
                <div class="col-sm-8">
                  <input
                    type="number"
                    id="price"
                    pattern="^[1-9]+[0-9]+[0-9]*$"
                    formControlName="price"
                    (keyup)="onPriceChange()"
                    [class.is-invalid]="
                      this.buyForm.get('price').invalid &&
                      this.buyForm.get('price').touched
                    "
                    class="form-control"
                  />
                  <small
                    [class.d-none]="
                      this.buyForm.get('price').valid ||
                      this.buyForm.get('price').untouched
                    "
                    class="text-danger"
                  >
                    Price is required
                  </small>
                </div>
              </div>
              <small
                class="alert alert-danger row"
                role="alert"
                *ngIf="priceErrorBanner"
              >
                Price is mandatory for Limit Order
              </small>

              <div class="row d-flex justify-content-center">
                <div class="col-4 d-grid text-center">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!this.buyForm.valid"
                    style="width: 9rem"
                    data-toggle="modal"
                    data-target="#buyOrderSuccess"
                    (click)="fetchPortfolio()"
                  >
                    BUY
                  </button>
                </div>
                <!-- <div class="col-4 d-grid text-center">
                  <a
                    type="button"
                    class="btn btn-success"
                    style="width: 9rem"
                    routerLink="/buysell"
                  >
                    Portfolio
                  </a>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="buyOrderSuccess"
    tabindex="-1"
    role="dialog"
    aria-labelledby="buyOrderSuccessLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="buyOrderSuccessLabel">
            <div *ngIf="!successBanner && !systemUnavailable">
              <Strong>It may take some time</Strong>
            </div>
            <Strong *ngIf="successBanner" style="color: green">
              Success!!
            </Strong>
            <Strong *ngIf="systemUnavailable" style="color: red">
              Error!!
            </Strong>
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div
            class="d-flex justify-content-center"
            *ngIf="!successBanner && !systemUnavailable"
          >
            <img src="./../../assets/loader.gif" />
          </div>
          <Strong *ngIf="successBanner">Product Added to your Portfolio</Strong>
          <Strong *ngIf="systemUnavailable"
            >System Unavailable try again later</Strong
          >
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            routerLink="/buysell"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button
      routerLink="/buysell"
      type="button"
      class="btn btn-outline-dark"
      style="margin-bottom: 15%; margin-top: 5%"
    >
      Go back
    </button>
  </div>
</div>
