<div class="container">
  <div class="d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 20%;">
    <form 
        [formGroup]="billForm" 
        style="width: 40%; 
        text-align: left;"
        (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="stocks"></label>
            <select 
                name="stocks"
                id="stocks"
                formControlName="stocks" 
                [class.is-invalid]="billForm.get('stocks').invalid &&
                                    billForm.get('stocks').touched"
                class="custom-select">
                <option value="TCS">TCS</option>
                <option value="TATA Motors">TATA Motors</option>
                <option value="SBIN">SBIN</option>
            </select>
            <small 
                [class.d-none]="billForm.get('stocks').valid || 
                billForm.get('stocks').untouched"
                class="text-danger"
            >Please select a stock</small>
        </div>
        <div class="form-group row ">
            <label for="quantity" class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
                <input 
                    type="number" 
                    id="quantity" 
                    pattern="^[1-9]+[0-9]*$"
                    formControlName="quantity"
                    [class.is-invalid]="billForm.get('quantity').invalid &&
                                        billForm.get('quantity').touched"
                    class="form-control" />
                <small 
                    [class.d-none]="billForm.get('quantity').valid || 
                    billForm.get('quantity').untouched"
                    class="text-danger"
                >Quantity is required</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="orderType" class="col-sm-4 col-form-label" #orderType>Order Type</label>
            <div class="col-sm-8">
                <select 
                    name="order" 
                    id="orderType"
                    formControlName="orderType"
                    [class.is-invalid]="billForm.get('orderType').invalid &&
                                        billForm.get('orderType').touched"
                    class="custom-select">
                    <option value="market">Market Order</option>
                    <option value="limit" #limit>Limit Order</option>
                </select>
                <small 
                    [class.d-none]="billForm.get('orderType').valid || 
                    billForm.get('orderType').untouched"
                    class="text-danger"
                >Please select any order type</small>
            </div>
        </div>
        <div *ngIf="billForm.get('orderType').value==limit; else elseblock">
            <div class="form-group row">
                <label for="price" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                    <input 
                        type="number" 
                        id="price"
                        pattern="^[1-9]+[0-9]+[0-9]*$"
                        formControlName="price"
                        [class.is-invalid]="billForm.get('price').invalid &&
                                            billForm.get('price').touched"
                        class="form-control"  />
                    <small 
                        [class.d-none]="billForm.get('price').valid || 
                                        billForm.get('price').untouched"
                        class="text-danger"
                    >Price is required</small>
                </div>
            </div>
        </div>
        <ng-template #elseblock></ng-template> 
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="width: 9rem;">BUY</button>
        </div>
    </form>
  </div>
  <div class="d-flex justify-content-end">
    <button routerLink="/buysell" type="button" class="btn btn-outline-dark">
      Go back
    </button>
  </div>
</div>
<router-outlet></router-outlet>
