<!--wealth card-->
<app-navbar [displayUserNav]="true"></app-navbar>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card text-center" style="width: 60rem">
        <img
          src="https://www.morganstanley.com/pub/content/dam/msdotcom/what-we-do/wealth-management-images/r4/wm-landing-page/World-Class-Investement_wide_16x9_888x498.jpg/_jcr_content/renditions/extrawide_3x1.jpg"
          alt="wealth product"
          class="card-img-top"
        />
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <h4 class="card-header bg-primary mb-2">Wealth Management Product</h4>
          <span class="badge badge-primary my-2">Short Term Gold</span>
          <span class="badge badge-success my-2">Long Term Platinum</span>
          <p class="card-text mb-2">
            At prime Wealth Management Product , We provide ideal plans for
            managing wealth to full fill your needs . Our Advisors will perform
            a wealth analysis and provide well suited Portfolios best suited for
            you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="container-fluid">
    <form [formGroup]="wealth">
      <div class="form-group">
        <label for="name">Product Name :</label>
        <select class="form-control" id="name">
          <option>Short Term Gold</option>
          <option>Long Term Platinam</option>
        </select>
      </div>
      <!--changes
      <h5>
        <span class="badge badge-pill badge-danger mb-2">Monthly</span>
        <span class="badge badge-pill badge-primary my-2">Quaterly</span>
        <span class="badge badge-pill badge-success my-2">Yearly</span>
      </h5>

      <p>Product Type : Wealth management Product</p>
      <p>Maturity Value : 22%</p>
    -->

      <div class="form-group">
        <label>Product Type :</label>
        <input
          type="type"
          name="type"
          id="type"
          class="form-control"
          formControlName="type"
          placeholder="eg.Wealth Management Product"
        />
      </div>

      <div class="form-group">
        <label>Maturity Value :</label>
        <input
          type="value"
          name="value"
          id="value"
          class="form-control"
          formControlName="value"
          placeholder="eg.22%"
        />
      </div>

      <div class="text-center">
        <button class="btn btn-primary pb-3px">Submit</button>
      </div>

      <div class="d-flex justify-content-end">
        <button routerLink="/shop" type="button" class="btn btn-outline-dark">
          Go back
        </button>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
